<div>
 {{#each this.statuses as |status|}}
    <button type="button" {{on "click" (this.changeStatus status.value)}}>
      {{status.value}}  
    </button>
  {{!-- {{on 'click' this.changeStatus status.value}} --}}
 {{/each}}
</div>
  

