{{#if siteSettings.solved_enabled }}

{{#if notInCategoreis }}
  <div class="customized-filter">
    not in category
  <button type="button" id="Recent" {{on 'click' (fn this.changeStatus "Recent" )}}>
   Recent
  </button>

   <button type="button" id="no" {{on 'click' (fn this.changeStatus "no")}}>
    Unsolved
  </button>

   <button type="button" id="yes" {{on 'click' (fn this.changeStatus "yes")}}>
    Solved
  </button>
</div>
  
{{/if}}

    
  {{/if}}

