<div class="customized-filter">
  <button type="button" {{on 'click' (fn this.changeStatus "Recent" )}}>
   Recent
  </button>

   <button type="button" {{on 'click' (fn this.changeStatus "no")}}>
    Unsolved
  </button>

   <button type="button" {{on 'click' (fn this.changeStatus "yes")}}>
    Solved
  </button>

  {{!-- {{unanswered-topic}} --}}


  

</div>
  

