ol.category-breadcrumb {
    display: none;
}

#navigation-bar {
    display: none;
    color:(--primary-medium);
}
#create-topic {
    display: none;
}

div.customized-filter {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

div.customized-filter > button {
    border: none;
    border-style: none;
    font-size: var(--font-up-1);
    background-color: var(--header_background);
    padding: 0.3rem;
    &:hover {
        border-top: 1px solid var(--primary-medium);
    }




}