ol.category-breadcrumb {
    display: none;
}

div.navigation-container {
    display: grid;
    grid-template-columns: 10% 10% 80%;
    justify-items: end;
    .navigation-controls {
        grid-column-start: 3;
        position: relative;
        right:10px;
        top: 80px;
        button {
        background-color: var(--tertiary);
        color: var(--header_background);
        &:hover {
            background-color: var(--tertiary-hover);
        }
        svg {
            color:var(--header_background)
        }
        }
        
        
    }
}

#navigation-bar {
    display: none;
    color:(--primary-medium);
}


div.customized-filter {
    width: 45%;
    display: flex;
    // grid-template-columns: repeat(4, 25%);
    flex-wrap: wrap;
}

div.customized-filter  button {
    text-align: center;
    border: none;
    border-style: none;
    font-size: var(--font-up-1);
    background-color: var(--header_background);
    padding: 0.3rem;
    // position:relative;
    // top:50px;
    &:hover {
        color: var(--tertiary);
        border-top: 1.5px solid var(--tertiary);
    }

}
div.customized-filter div {
    text-align: center;
}
.get-active {
    color: var(--tertiary);
    border-top: solid 1px var(--tertiary);
}

@media screen and (max-width:980px) {
    div.customized-filter {
        width: 80%;
    }

    div.navigation-container {
        display: grid;
        grid-template-columns: 100%;
        justify-items: start;
        .navigation-controls {
            grid-column-start: 1;
            position: relative;
            margin: 0px;
            left: 5px;
            top: 0px;
            
            
            
            
        }
    }

}
// .customized-filter{
//     top:120px;
// }
// .customized-filter button {
//     position: relative;
//     top: 40px;

// }

@media screen and (max-width:1100px){
    .customized-filter button{
        top: 0px;
    
    }
    
}


@media screen and (max-width:600px) {
    div.customized-filter {
        width: 100%;

    }
    div.customized-filter  button {
        font-size:var(--font-down-1) ;
    }
    



}