ol.category-breadcrumb {
    display: none;
}

div.navigation-container {
    display: grid;
    grid-template-columns: 10% 10% 80%;
    justify-items: end;
}

#navigation-bar {
    display: none;
    color:(--primary-medium);
}
// #create-topic {
//     display: none;
// }

div.customized-filter {
    width: 80%;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 40%;
}

div.customized-filter  button {
    text-align: center;
    border: none;
    border-style: none;
    font-size: var(--font-up-1);
    background-color: var(--header_background);
    padding: 0.3rem;
    &:hover {
        border-top: 1px solid var(--primary-medium);
    }




}
div.customized-filter div {
    text-align: center;
}
.get-active {
    color: var(--tertiary);
    border-top: solid 1px var(--tertiary);
}

@media screen and (max-width:980px) {
    div.customized-filter {
        width: 80%;
    }

}

@media screen and (max-width:600px) {
    div.customized-filter {
        width: 100%;
    }

}