{{#if siteSettings.solved_enabled}}
{{!-- <div class="status-filter">
  {{#each statuses as status}}
  <li>hello</li>  
  {{/each}}

</div> --}}
  {{combo-box
    class="solved-status-filter"
    content=statuses
    value=status
    valueProperty="value"
    onChange=(action "changeStatus")
    options=(hash
      caretDownIcon="caret-right"
      caretUpIcon="caret-down"
    )
  }}
{{/if}}
